:root {
  --orange-darken: #F16718;
  --orange-lighten: #FF9B62;
  --blue-darken: #162542;
  --blue-lighten: #7B8BAD;
  --silver: #E8EFF2;
  --white: #FFFFFF;
}

:root {
  --font-family: "Barlow", sans-serif;
  --heading-font-weight: 900;
  --body-font-weight: 500;
  --btn-font-weight: 700;
  --h1-font-size: 5.6rem;
  --h1-small-font-size: 4.8rem;
  --h2-font-size: 3.2rem;
  --h3-font-size: 2.4rem;
  --h1-line-height: 56px;
  --h1-small-line-height: 48px;
  --h2-line-height: 36px;
  --h3-line-height: 28px;
  --paragraph-line-height: 26px;
}

:root {
  --breakpoint-2xl: 1365px;
  --breakpoint-xl: 1280px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --breakpoint-xs: 375px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

body {
  background-color: var(--white);
  color: var(--blue-lighten);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: var(--body-font-weight);
  margin: 55px 165px 39px 165px;
  overflow-x: hidden;
}
@media only screen and (max-width: 1280px) {
  body {
    margin: 40px 50px 39px 50px;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    margin: 40px;
  }
}

h1, h2, h3 {
  color: var(--blue-darken);
  font-weight: var(--heading-font-weight);
  text-transform: uppercase;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
}

h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}

p {
  line-height: var(--paragraph-line-height);
}

.btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: var(--btn-font-weight);
  padding: 16px 27px;
  text-transform: uppercase;
}

.img {
  border-radius: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 83px;
}
@media only screen and (max-width: 1024px) {
  .header {
    margin-bottom: 62px;
  }
}
.header__btn {
  background-color: var(--silver);
  color: var(--blue-darken);
}
.header__btn:hover {
  background-color: var(--blue-darken);
  color: var(--white);
}

.main {
  position: relative;
}

.main__part1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  overflow: hidden;
}
.main__part1--heading {
  margin-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .main__part1--heading {
    font-size: var(--h1-small-font-size);
  }
}
.main__part1--text {
  font-size: 1.8rem;
  margin-bottom: 40px;
}
.main__part1--square-pattern {
  position: absolute;
  right: -285px;
}
@media only screen and (max-width: 1280px) {
  .main__part1--square-pattern {
    display: none;
  }
}
.main__part1-paragraph {
  height: 312px;
  width: 445px;
}
@media only screen and (max-width: 1024px) {
  .main__part1-paragraph {
    margin-right: 69px;
  }
}
.main__part1-cta {
  display: flex;
  align-items: center;
}
.main__part1-cta--btn {
  background-color: var(--orange-darken);
  color: var(--white);
  margin-right: 40px;
}
.main__part1-cta--btn:hover {
  background-color: var(--orange-lighten);
  color: var(--white);
}
.main__part1-cta--date {
  font-weight: var(--btn-font-weight);
}
.main__part1-img--desktop {
  height: 480px;
  width: 540px;
}
@media only screen and (max-width: 1365px) {
  .main__part1-img--desktop {
    height: 420px;
    width: 480px;
  }
}
@media only screen and (max-width: 1024px) {
  .main__part1-img--desktop {
    height: 425px;
    width: 478px;
  }
}
.main__part1-img--tablet {
  height: 425px;
  width: 478px;
}
.main__part1-img--mobile {
  height: 331px;
  width: 372px;
}

.main__part2 {
  display: flex;
  align-items: center;
  margin-bottom: 168px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .main__part2 {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 142px;
  }
}
.main__part2--heading {
  margin-bottom: 27px;
}
@media only screen and (max-width: 1024px) {
  .main__part2--heading {
    margin-bottom: 0;
    margin-right: 80px;
    width: 255px;
  }
}
@media only screen and (max-width: 1024px) {
  .main__part2--text {
    width: 398px;
  }
}
.main__part2--square-pattern {
  position: absolute;
  bottom: 0;
  left: -285px;
}
@media only screen and (max-width: 1280px) {
  .main__part2--square-pattern {
    display: none;
  }
}
.main__part2--overlay {
  background-color: rgba(241, 103, 24, 0.9);
  border-radius: 20px;
  height: 480px;
  width: 255px;
  opacity: 0.6;
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 1365px) {
  .main__part2--overlay {
    height: 440px;
    width: 215px;
  }
}
.main__part2-img-group {
  display: flex;
  margin-right: 125px;
}
@media only screen and (max-width: 1365px) {
  .main__part2-img-group {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 1024px) {
  .main__part2-img-group {
    justify-content: space-between;
    margin-bottom: 72px;
    margin-right: 0;
  }
}
.main__part2-img-group-1 {
  margin-right: 30px;
}
@media only screen and (max-width: 1024px) {
  .main__part2-img-group-1 {
    margin-right: 0;
  }
}
.main__part2-img-group-1--desktop {
  height: 480px;
  width: 255px;
}
@media only screen and (max-width: 1365px) {
  .main__part2-img-group-1--desktop {
    height: 440px;
    width: 215px;
  }
}
.main__part2-img-group-1--tablet {
  height: 320px;
  width: 214px;
}
.main__part2-img-group-1--mobile {
  height: 193px;
  width: 129px;
}
.main__part2-img-group-2--desktop {
  height: 480px;
  width: 445px;
}
@media only screen and (max-width: 1365px) {
  .main__part2-img-group-2--desktop {
    height: 440px;
    width: 405px;
  }
}
@media only screen and (max-width: 1024px) {
  .main__part2-img-group-2--desktop {
    height: 440px;
    width: 645px;
  }
}
.main__part2-img-group-2--tablet {
  height: 320px;
  width: 445px;
}
.main__part2-img-group-2--mobile {
  height: 193px;
  width: 220px;
}
@media only screen and (max-width: 1024px) {
  .main__part2-paragraph {
    display: flex;
    align-items: center;
  }
}

.main__part3 {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
@media only screen and (max-width: 1024px) {
  .main__part3 {
    grid-template-rows: repeat(2, 1fr);
    column-gap: 69px;
    row-gap: 72px;
    margin-bottom: 142px;
  }
}
.main__part3--heading {
  margin-bottom: 24px;
}
.main__part3-item {
  margin-bottom: 128px;
}
@media only screen and (max-width: 1024px) {
  .main__part3-item {
    margin-bottom: 0;
  }
}
.main__part3-item--compatible {
  grid-column: 1/2;
  grid-row: 1/5;
}
@media only screen and (max-width: 1024px) {
  .main__part3-item--compatible {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
.main__part3-item--bluetooth {
  grid-column: 2/3;
  grid-row: 1/5;
}
@media only screen and (max-width: 1024px) {
  .main__part3-item--bluetooth {
    grid-column: 3/5;
    grid-row: 1/2;
  }
}
.main__part3-item--battery {
  grid-column: 3/4;
  grid-row: 1/5;
}
@media only screen and (max-width: 1024px) {
  .main__part3-item--battery {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.main__part3-item--light {
  grid-column: 4/5;
  grid-row: 1/5;
}
@media only screen and (max-width: 1024px) {
  .main__part3-item--light {
    grid-column: 3/5;
    grid-row: 2/3;
  }
}
.main__part3-icon {
  background-color: var(--orange-darken);
  border-radius: 16px;
  margin-bottom: 48px;
}
.main__part3-icon--compatible {
  padding: 22.45px 19.86px 22.31px 20px;
}
.main__part3-icon--bluetooth {
  padding: 19px 23.6px 18.14px 23.72px;
}
.main__part3-icon--battery {
  padding: 23.33px 17.01px 21.67px 16px;
}
.main__part3-icon--light {
  padding: 16px 17px 17px 16px;
}

.footer {
  text-align: center;
}
.footer__bold {
  font-weight: var(--btn-font-weight);
}

/*# sourceMappingURL=index.css.map */
