@use 'mixins' as *;

// Reset CSS
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

body {
  background-color: var(--white);
  color: var(--blue-lighten);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: var(--body-font-weight);
  margin: 55px 165px 39px 165px;
  overflow-x: hidden;

  @include breakpoint-xl {
    margin: 40px 50px 39px 50px;
  }

  @include breakpoint-lg {
    margin: 40px;
  }

  @include breakpoint-xs {
    margin: 24px;
  }
}

h1, h2, h3 {
  color: var(--blue-darken);
  font-weight: var(--heading-font-weight);
  text-transform: uppercase;
} 

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
}

h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}

p {
  line-height: var(--paragraph-line-height);
}

.btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: var(--btn-font-weight);
  padding: 16px 27px;
  text-transform: uppercase;

  @include breakpoint-sm {
    padding: 11px 14px;
  }

  @include respondTo(350px) {
    font-size: 1.4rem;
    padding: 10px;
  }
}

.img {
  border-radius: 20px;
}

// .stretched-out {
//   @include respondTo(768px) {
//     margin-right: -40px;
//   }
// }