@use 'mixins' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 83px;

  @include breakpoint-lg {
    margin-bottom: 62px;
  }

  &__btn {
    background-color: var(--silver);
    color: var(--blue-darken);

    &:hover {
      background-color: var(--blue-darken);
      color: var(--white);
    }
  }
}