@use 'mixins' as *;

.main {
  &__part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @include respondTo(807px) {
      overflow-x: visible;
    }

    &--heading {
      margin-bottom: 24px;

      @include breakpoint-lg {
        font-size: var(--h1-small-font-size);
        line-height: var(--h1-small-line-height);
      }
    }

    &--text {
      font-size: 1.8rem;
      margin-bottom: 40px;

      @include respondTo(980px) {
        padding-right: 20px;
      }

      @include respondTo(807px) {
        font-size: 1.6rem;
      }
    }

    &--square-pattern {
      position: absolute;
      right: -285px;

      @include breakpoint-xl {
        display: none;
      }
    }
  }

  &__part1-paragraph {
    height: 312px;
    width: 445px;

    @include breakpoint-lg {
      margin-right: 69px;
    }

    @include respondTo(980px) {
      margin-bottom: 60px;
      margin-top: 60px;
    }
  }

  &__part1-cta {
    display: flex;
    align-items: center;

    &--btn {
      background-color: var(--orange-darken);
      color: var(--white);
      margin-right: 40px;

      &:hover {
        background-color: var(--orange-lighten);
        color: var(--white);
      }
    }

    &--date {
      font-weight: var(--btn-font-weight);
    }
  }

  &__part1-img {
    &--desktop {
      height: 480px;
      width: 540px;

      @include breakpoint-2xl {
        height: 420px;
        width: 480px;
      }

      @include breakpoint-lg {
        height: 425px;
        width: 478px;
      }
      
      @include respondTo(980px) {
        position: absolute;
        right: -120px;
        top: 0;
        display: none; // todo: fix this
      }

      @include respondTo(850px) {
        right: -180px;
      }

      @include breakpoint-md {
        right: -200px;
      }
    }
    &--tablet {
      height: 425px;
      width: 478px;
    }
    &--mobile {
      height: 331px;
      width: 372px;
    }
  }
}