@use 'mixins' as *;

.main {
  &__part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @include respondTo(695px) {
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
    }

    &--heading {
      margin-bottom: 24px;

      @include breakpoint-lg {
        font-size: var(--h1-small-font-size);
        line-height: var(--h1-small-line-height);
      }

      @include respondTo(350px) {
        font-size: calc(var(--h1-small-font-size) - 4px);
      }
    }

    &--text {
      font-size: 1.8rem;
      margin-bottom: 40px;

      @include respondTo(980px) {
        padding-right: 20px;
      }

      @include respondTo(955px) {
        font-size: 1.6rem;
        padding-right: 100px;
      }

      @include respondTo(695px) {
        padding-right: 24px;
      }

      @include respondTo(490px) {
        padding-right: 40px;
      }
    }

    &--square-pattern {
      position: absolute;
      right: -285px;

      @include breakpoint-xl {
        display: none;
      }
    }
  }

  &__part1-paragraph {
    height: 312px;
    width: 445px;

    @include breakpoint-lg {
      margin-right: 69px;
    }

    @include respondTo(980px) {
      margin-bottom: 60px;
      margin-top: 60px;
    }

    @include respondTo(695px) {
      margin: 0 0 64px 0;
      height: auto;
      width: auto;
    }
  }

  &__part1-cta {
    display: flex;
    align-items: center;

    &--btn {
      background-color: var(--orange-darken);
      color: var(--white);
      margin-right: 40px;

      &:hover {
        background-color: var(--orange-lighten);
        color: var(--white);
      }
    }

    &--date {
      font-weight: var(--btn-font-weight);

      @include respondTo(350px) {
        font-size: 1.4rem;
      }
    }
  }

  &__part1-img-group {
    @include respondTo(695px) {
      align-self: flex-end;
    }
  }

  &__part1-img {
    &--desktop {
      height: 480px;
      width: 540px;

      @include breakpoint-2xl {
        height: 420px;
        width: 480px;
      }

      @include breakpoint-lg {
        height: 425px;
        width: 478px;
      }
      
      @include respondTo(955px) {
        position: absolute;
        right: -80px;
        top: 0;
      }

      @include respondTo(865px) {
        right: -120px;
      }

      @include respondTo(850px) {
        right: -150px;
      }

      @include breakpoint-md {
        right: -200px;
      }

      @include respondTo(730px) {
        right: -250px;
      }

      @include respondTo(695px) {
        position: static;
        right: 0;
        height: 331px;
        width: 372px;
      }

      @include respondTo(460px) {
        transform: translateX(50px);
      }

      @include respondTo(375px) {
        transform: translateX(45px);
      }
    }
    &--tablet {
      height: 425px;
      width: 478px;
    }
    &--mobile {
      height: 331px;
      width: 372px;
    }
  }
}