@use 'mixins' as *;

.main {
  &__part2 {
    display: flex;
    align-items: center;
    margin-bottom: 168px;
    position: relative;
    
    &--heading {
      margin-bottom: 27px;
    }

    &--square-pattern {
      position: absolute;
      bottom: 0;
      left: -285px;

      @include breakpoint-xl {
        display: none;
      }
    }

    &--overlay {
      background-color: rgba($color: #F16718, $alpha: 0.9);
      border-radius: 20px;
      height: 480px;
      width: 255px;
      opacity: 0.6;
      position: absolute;
      top: 0;
    }
  }
  
  &__part2-img-group {
    display: flex;
    margin-right: 125px;

    @include breakpoint-xl {
      margin-right: 50px;
    }
  }

  &__part2-img-group-1 {
    margin-right: 30px;

    &--desktop {
      height: 480px;
      width: 255px;
    }
    &--tablet {
      height: 320px;
      width: 214px;
    }
    &--mobile {
      height: 193px;
      width: 129px;
    }
  }

  &__part2-img-group-2 {
    &--desktop {
      height: 480px;
      width: 445px;
    }
    &--tablet {
      height: 320px;
      width: 445px;
    }
    &--mobile {
      height: 193px;
      width: 220px;
    }
  }
}