// Colors
:root {
  --orange-darken: #F16718;
  --orange-lighten: #FF9B62;

  --blue-darken: #162542;
  --blue-lighten: #7B8BAD;
  
  --silver: #E8EFF2;
  --white: #FFFFFF;
}

// Typography
:root {
  --font-family: 'Barlow', sans-serif;

  --heading-font-weight: 900;
  --body-font-weight: 500;
  --btn-font-weight: 700;

  --h1-font-size: 5.6rem;
  --h1-small-font-size: 4.8rem;
  --h2-font-size: 3.2rem;
  --h3-font-size: 2.4rem;

  --h1-line-height: 56px;
  --h1-small-line-height: 48px;
  --h2-line-height: 36px;
  --h3-line-height: 28px;
  --paragraph-line-height: 26px;
}