.main {
  &__part2 {
    display: flex;
    align-items: center;
    margin-bottom: 168px;
    position: relative;
    
    &--heading {
      margin-bottom: 27px;
    }

    &--square-pattern {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateX(-285px);
      overflow-x: hidden;
    }
  }
  
  &__part2-img-group {
    display: flex;
    margin-right: 125px;
  }

  &__part2-img-group-1 {
    margin-right: 30px;

    &--desktop {
      height: 480px;
      width: 255px;
    }
    &--tablet {
      height: 320px;
      width: 214px;
    }
    &--mobile {
      height: 193px;
      width: 129px;
    }
  }

  &__part2-img-group-2 {
    &--desktop {
      height: 480px;
      width: 445px;
    }
    &--tablet {
      height: 320px;
      width: 445px;
    }
    &--mobile {
      height: 193px;
      width: 220px;
    }
  }
}